Source: sdformat17
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 13),
               dh-python,
               libtinyxml2-dev,
               doxygen,
               texlive-base,
               texlive-fonts-recommended,
               texlive-latex-extra,
               python3-pybind11,
               python3-dev,
               libgz-tools3-dev,
               libgz-math10-dev,
               python3-gz-math10,
               libgz-utils5-cli-dev,
               libgz-utils5-dev,
               liburdfdom-dev,
               liburdfdom-headers-dev
Vcs-Browser: https://github.com/gazebo-release/sdformat17-release
Vcs-Git: https://github.com/gazebo-release/sdformat17-release.git
Standards-Version: 4.5.1
Homepage: http://sdformat.org

Package: libsdformat17
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends:  sdformat17-sdf (>= ${source:Version}),
          ${shlibs:Depends},
          ${misc:Depends}
Recommends: sdformat17-cli
Provides: libsdformat-generic
Conflicts: libsdformat-generic, libsdformat12, libsdformat14, libsdformat15, libsdformat16
Replaces: libsdformat12, libsdformat14, libsdformat15, libsdformat16
Multi-Arch: same
Description: Simulation Description Format (SDF) parser - Shared library
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.

Package: libsdformat17-dev
Architecture: any
Section: libdevel
Depends: libtinyxml2-dev,
         libgz-tools3-dev,
         libgz-math10-dev,
         libgz-utils5-cli-dev,
         libgz-utils5-dev,
         liburdfdom-dev,
         liburdfdom-headers-dev,
         libsdformat17 (= ${binary:Version}),
         ${misc:Depends}
Provides: libsdformat-dev-generic
Conflicts: libsdformat-dev-generic, libsdformat12-dev, libsdformat14-dev, libsdformat15-dev, libsdformat16-dev
Replaces: libsdformat12-dev, libsdformat14-dev, libsdformat15-dev, libsdformat16-dev
Multi-Arch: same
Description: Simulation Description Format (SDF) parser - Development files
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.

Package: sdformat17-sdf
Architecture: all
Section: libdevel
Depends: ${misc:Depends}
Multi-Arch: foreign
Provides: sdformat-sdf-generic
Conflicts: sdformat-sdf-generic, libsdformat1, sdformat12-sdf, sdformat14-sdf, sdformat15-sdf, sdformat16-sdf
Replaces: sdformat12-sdf, sdformat14-sdf, sdformat15-sdf, sdformat16-sdf
Description: Simulation Description Format (SDF) parser - SDF files
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.
 .
 This package contains SDF (Simulation Description Format) XML files needed by
 the libsdformat.

Package: sdformat17-cli
Architecture: any
Depends: libsdformat17 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Provides: sdformat-cli-generic
Conflicts: sdformat-cli-generic, sdformat12-cli, sdformat14-cli, sdformat15-cli, sdformat16-cli
Replaces: sdformat12-cli, sdformat14-cli, sdformat15-cli, sdformat16-cli
Multi-Arch: no
Description: Simulation Description Format (SDF) parser - CLI
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.
 .
 The package ships the CLI.

Package: python3-sdformat17
Architecture: any
Depends: ${misc:Depends},
         python3-gz-math10,
         ${python3:Depends}
Enhances: libsdformat17
Provides: python3-sdformat-generic
Conflicts: python3-sdformat-generic, python3-sdformat12, python3-sdformat14, python3-sdformat15, python3-sdformat16
Replaces: python3-sdformat12, python3-sdformat14, python3-sdformat15, python3-sdformat16
Description: Simulation Description Format (SDF) parser - SDF files
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.
 .
 This package contains the Python bindings for SDFormat

Package: libsdformat17-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
     libsdformat17 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Simulation Description Format (SDF) parser - Debugging symbols
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.

Package: sdformat17-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, libjs-jquery
Multi-Arch: foreign
Provides: sdformat-doc-generic
Conflicts: sdformat-doc-generic, sdformat12-doc, sdformat14-doc, sdformat15-doc, sdformat16-doc
Replaces: sdformat12-doc, sdformat14-doc, sdformat15-doc, sdformat16-doc
Description: Simulation Description Format (SDF) parser - Documentation
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.
 .
 This package contains the program documentation

